.custom-navbar {
  background-color:#1f1204;
}
.custom-navbar.nav-wrapper {
  color: #fff;
}
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}
.custom-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 3rem;
}

