<mat-toolbar class="custom-navbar nav-wrapper">
  <span ><img src="assets/pinball.jpg"  class="custom-image"></span>
  <span class="spacer-centro  "></span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/about">DlaZego</button>
  <button mat-button routerLink="/contact">Arena</button>
  <button mat-button routerLink="/">Oferta</button>
  <button mat-button routerLink="/about">Galeria</button>
  <button mat-button routerLink="/contact">Contato</button>
  <button mat-button routerLink="/contact">Contato</button>
  <button mat-button routerLink="/contact">Contato</button>
</mat-toolbar>
